.mainAddTaskBody {
    background-color: bisque;
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.mainAddTask {
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    
   
}

.mainAddTask input {
    width: 900px;
    border-radius: 10px;
    border: 2px solid grey;
}

.mainAddTask button {
    width: 100px;
    border-radius: 10px;
    border: 2px solid grey;
}