.showTaskbody {
    background-color: #D8EFD3;
    width: 100%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.showTaskGroup {
    list-style-type: none;
    /* width: 95%; */
    height: 90%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.showTaskItem {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.taskContainer {
    background-color: #55AD9B;
    min-width: 200px;
    min-height: 200px;
    border: 2px solid #55AD9B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    position: relative;
 
}
.taskDescrption {
    background-color: #55AD9B;
    width: 190px;
    height: 165px;
    border: none;
    font-size: 16px;
    color: black;
    word-wrap: break-word;
}

.btnDone {
    position: absolute;
    top: 2px;
    right: 5px;
}